<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <th:block th:replace="~{user/_meta}" />
  <title>Đăng nhập</title>
</head>

<body>
  <th:block th:replace="~{user/_header}" />

  <section class="section-content" style="margin: 100px 0;">
    <div class="card mx-auto" style="max-width: 380px">
      <div class="card-body">
      <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        <h4 class="card-title mb-4">Đăng nhập</h4>
        <form th:action="@{/signin}" method="post">
          <div class="mb-3">
            <input class="form-control"
                   placeholder="Tên đăng nhập"
                   type="text"
                   autocomplete="off"
                   th:value="${user.idUser}" name="idUser" required>
          </div>
          <div class="mb-3">
            <input name="matkhau"
                   class="form-control"
                   placeholder="Mật khẩu"
                   type="password" th:value="${user.matkhau}" 
                   autocomplete="off" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
        </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Không có tài khoản? <a th:href="@{/signup}">Đăng ký</a></p>
    <p class="text-center mt-4">Quên mật khẩu? <a th:href="@{/forgotPassword}">Quên mật khẩu</a></p>
  </section> <!-- section-content.// -->

  <th:block th:replace="~{user/_footer}" />
</body>

</html>
