<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <th:block th:replace="~{user/_meta}" />
  <title>Đăng ký</title>
</head>

<body>
  <th:block th:replace="~{user/_header}" />

  <section class="section-content" style="margin: 100px 0;">
    <div class="card mx-auto" style="max-width: 380px">
      <div class="card-body">
        <div th:if="${successMessage}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>

        <h4 class="card-title mb-4">Đăng ký</h4>
        <form th:action="@{/signup}" method="post">
			<div class="mb-3">
	            <label for="inputEmail" class="form-label">Email</label>
	            <input type="email"
	                   id="inputEmail"
	                   class="form-control"
	                   name="idUser" th:value="${user.idUser}"
	                   required>
	          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Mật khẩu</label>
            <input type="password"
                   id="inputPassword"
                   class="form-control"
                   name="matkhau" th:value="${user.matkhau}"
                   required>
          </div>

          <div class="mb-3">
            <label for="inputFullname" class="form-label">Họ và tên</label>
            <input type="text"
                   id="inputFullname"
                   name="hoten" th:value="${user.hoten}"
                   class="form-control"
                   required>
          </div>

          <div class="mb-3">
            <label for="inputPhoneNumber" class="form-label">Số điện thoại</label>
            <input type="text"
                   id="inputPhoneNumber"
                   class="form-control"
                   name="sdt" th:value="${user.sdt}"
                   pattern="0[0-9]{9}"
                   required
         		   title="Số điện thoại phải có 10 chữ số và bắt đầu bằng số 0">
          </div>

          <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
        </form>
      </div>
    </div>
    <p class="text-center mt-4">Đã có tài khoản? <a th:href="@{/signin}">Đăng nhập</a></p>
    <p class="text-center mt-4">Quen mật khẩu? <a th:href="@{/forgotPassword}">Quên mật khẩu</a></p>
  </section>

  <th:block th:replace="~{user/_footer}" />
</body>

</html>
