<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col py-3">
          <a class="text-body" th:href="@{/admin/user}">
            <h3><span class="badge bg-primary">Admin</span> Shop Dược Phẩm</h3>
          </a>
        </div>
        <!-- col.// -->
        <div class="col-sm-1">
          <ul
            class="nav col-12 col-lg-auto my-2 my-lg-0 justify-content-center justify-content-lg-end text-small"
          >
            <li>
              <a th:href="@{/}" class="nav-link text-body" target="_blank">
                <i class="bi bi-window d-block text-center fs-3"></i>
                Client
              </a>
            </li>
          </ul>
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main.// -->
</header>
<!-- section-header.// -->

<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/user}">
            <i class="bi bi-people"></i> Quản lý người dùng
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/loai}">
            <i class="bi bi-tags"></i> Quản lý thể loại
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/sanpham}">
            <i class="bi bi-book"></i> Quản lý sản phẩm
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/hoadon}">
            <i class="bi bi-inboxes"></i> Quản lý đơn hàng
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/thongke-view}">
            <i class="bi bi-bar-chart"></i> Thống kê
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/admin/khachhang-vip}">
            <i class="bi bi-bar-chart"></i> Thống kê Người dùng
          </a>
        </li>
      </ul>
      <th:block th:if="${session.currentUser != null}">
        <span
          >Xin chào
          <strong th:text="${session.currentUser.hoten}"></strong>!</span
        >
        <a class="btn btn-light ms-2" th:href="@{/signout}" role="button"
          >Đăng xuất</a
        >
      </th:block>
      <th:block th:unless="${session.currentUser != null}">
        <a class="btn btn-primary" th:href="@{/admin/signin}" role="button"
          >Đăng nhập</a
        >
      </th:block>
    </div>
  </div>
  <!-- container.// -->
</nav>
<!-- navbar-main.// -->
<!-- FontAwesome 6.2.0 CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- (Optional) Use CSS or JS implementation -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
  integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
