<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <th:block th:replace="~{user/_meta}" />
    <title>Đổi mật khẩu</title>
  </head>

  <body>
    <th:block th:replace="~{user/_header}" />

    <section class="section-pagetop bg-light">
      <div class="container">
        <h2 class="title-page">Đổi mật khẩu</h2>
      </div>
      <!-- container.// -->
    </section>
    <!-- section-pagetop.// -->

    <section class="section-content padding-y">
      <div class="container">
        <div class="row">
          <th:block
            th:insert="~{user/navPanel :: nav(active='CHANGE_PASSWORD')}"
          ></th:block>

          <main class="col-md-9">
            <article class="card">
              <div class="card-body">
                <div
                  th:if="${successMessage}"
                  class="alert alert-success"
                  role="alert"
                  th:text="${successMessage}"
                ></div>
                <div
                  th:if="${errorMessage}"
                  class="alert alert-danger"
                  role="alert"
                  th:text="${errorMessage}"
                ></div>
                <div class="col-lg-6">
                  <form
                    th:action="@{/changePassword}"
                    method="post"
                    autocomplete="off"
                  >
                    <div class="mb-3">
                      <label for="inputCurrentPassword" class="form-label">
                        Nhập mật khẩu hiện tại
                      </label>
                      <input
                        type="password"
                        class="form-control"
                        id="inputCurrentPassword"
                        th:value="${currentPassword}"
                        name="currentPassword"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <label for="inputNewPassword" class="form-label">
                        Nhập mật khẩu mới
                      </label>
                      <input
                        type="password"
                        class="form-control"
                        id="inputNewPassword"
                        th:value="${newPassword}"
                        name="newPassword"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <label for="inputNewPasswordAgain" class="form-label">
                        Nhập mật khẩu mới một lần nữa
                      </label>
                      <input
                        type="password"
                        class="form-control"
                        id="inputNewPasswordAgain"
                        th:value="${newPasswordAgain}"
                        name="newPasswordAgain"
                        required
                      />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Đổi mật khẩu
                    </button>
                  </form>
                </div>
              </div>
              <!-- card-body.// -->
            </article>
          </main>
          <!-- col.// -->
        </div>
        <!-- row.// -->
      </div>
      <!-- container.// -->
    </section>
    <!-- section-content.// -->

    <th:block th:replace="~{user/_footer}" />
  </body>
</html>
