<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <th:block th:replace="~{user/_meta}" />
    <title>Quên mật khẩu</title>
  </head>

  <body>
    <th:block th:replace="~{user/_header}" />

    <section class="section-pagetop bg-light">
      <div class="container">
        <h2 class="title-page">Quên mật khẩu</h2>
      </div>
      <!-- container.// -->
    </section>
    <!-- section-pagetop.// -->

    <section class="section-content padding-y">
      <div class="container">
        <div class="row">
          <main class="col-md-6 mx-auto">
            <article class="card">
              <div class="card-body">
                <div
                  th:if="${successMessage}"
                  class="alert alert-success"
                  role="alert"
                  th:text="${successMessage}"
                ></div>
                <div
                  th:if="${errorMessage}"
                  class="alert alert-danger"
                  role="alert"
                  th:text="${errorMessage}"
                ></div>

                <h4 class="card-title text-center">Khôi phục mật khẩu</h4>

                <form
                  th:action="@{/forgotPassword}"
                  method="post"
                  autocomplete="off"
                >
                  <div class="mb-3">
                    <label for="inputPhoneNumber" class="form-label"
                      >Nhập số điện thoại</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="inputPhoneNumber"
                      name="sdt"
                      pattern="0[0-9]{9}"
                      required
                      placeholder="Nhập số điện thoại của bạn"
                      title="Số điện thoại phải có 10 chữ số và bắt đầu bằng số 0"
                    />
                  </div>

                  <button type="submit" class="btn btn-primary w-100">
                    Lấy lại mật khẩu
                  </button>
                </form>
              </div>
              <!-- card-body.// -->
            </article>
            <p class="text-center mt-4">
              Không có tài khoản? <a th:href="@{/signup}">Đăng ký</a>
            </p>
            <p class="text-center mt-4">
              Đã có tài khoản? <a th:href="@{/signin}">Đăng nhập</a>
            </p>
          </main>
          <!-- col.// -->
        </div>
        <!-- row.// -->
      </div>
      <!-- container.// -->
    </section>
    <!-- section-content.// -->

    <th:block th:replace="~{user/_footer}" />
  </body>
</html>
