<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav th:fragment="navbar">
      <ul>
        <li><a th:href="@{/home/index}">Home</a></li>
        <li><a th:href="@{/home/about}">About</a></li>
        <li><a th:href="@{/student/form}">Student</a></li>
        <li><a href="#">Tiếng Việt</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </nav>
  </body>
</html>
