<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 py-3">
          <a class="text-body" th:href="@{/}">
            <h3>Shop Laptop</h3>
          </a>
        </div>
        <!-- col.// -->
        <div class="col-lg-4 col-xl-5">
          <form
            th:action="@{/search}"
            method="get"
            class="search"
            autocomplete="off"
          >
            <div class="input-group w-100">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập từ khóa cần tìm ..."
                name="q"
                th:value="${query}"
              />
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- col.// -->
        <div class="col-lg-5 col-xl-4">
          <div th:if="${session.currentUser != null}">
            <ul
              class="nav col-12 col-lg-auto my-2 my-lg-0 justify-content-center justify-content-lg-end text-small"
            >
              <li th:if="${session.currentUser.vaitro == 1 or session.currentUser.vaitro == 2}">
                <a th:href="@{/admin/loai}" class="nav-link text-body">
                  <i class="bi bi-gear d-block text-center fs-3"></i>
                  Admin

                </a>
              </li>

          <li th:if="${session.currentUser != null and (session.currentUser.vaitro == 3)}">
            <a th:href="@{/admin/hoadon}" class="nav-link text-body">
              <i class="bi bi-truck d-block text-center fs-3"></i> 
              Shipper
              
            </a>
        </li>
          

              <li>
                <a th:href="@{/setting}" class="nav-link text-body">
                  <i class="bi bi-person d-block text-center fs-3"></i>
                  Tài khoản
                </a>
              </li>
              <li>
                <a th:href="@{/order}" class="nav-link text-body">
                  <i class="bi bi-list-check d-block text-center fs-3"></i>
                  Đơn hàng
                </a>
              </li>
              <li>
                <a
                  th:href="@{/cart}"
                  class="nav-link text-body position-relative"
                >
                  <!-- //hiển thị số lượng giỏ hàng. -->
                  <span
                    id="total-cart-items-quantity"
                    class="position-absolute top-0 end-0 mt-2 badge rounded-pill bg-primary"
                  >
                    ...
                  </span>
                  <i
                    class="bi bi-cart d-block text-center fs-3 position-relative"
                  ></i>
                  Giỏ hàng
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main.// -->
</header>
<!-- section-header.// -->

<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <strong><i class="bi bi-list"></i> Danh mục sản phẩm</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li th:each="loai : ${loais}">
              <a
                class="dropdown-item"
                th:href="@{/loai(id=${loai.idLoai})}"
                th:text="${loai.tenLoai}"
              ></a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/loai-all}"
                >Tất cả danh mục</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div th:if="${session.currentUser != null}">
        <span
          >Xin chào
          <strong th:text="${session.currentUser.hoten}"></strong>!</span
        >
        <a class="btn btn-light ms-2" th:href="@{/signout}" role="button">
          Đăng xuất
        </a>
      </div>
      <div th:if="${session.currentUser == null}">
        <a class="btn btn-light me-2" th:href="@{/signup}" role="button">
          Đăng ký
        </a>
        <a class="btn btn-primary" th:href="@{/signin}" role="button">
          Đăng nhập
        </a>
      </div>
    </div>
  </div>
  <!-- container.// -->
</nav>
<!-- navbar-main.// -->
